<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div style="margin-top: 100px;">
    <h1>Welcome, <%=user.userName%></h1>
    <p>Todays date:</p><%=today%>
    <p>Planned budget for this month</p>
    <p><%=balance%></p>
    
    <a href="/transactions/<%=user.id%>/create"><button class="btn-form">Add transaction</button></a>
    <h2>Your transaction</h1>
    
    <p>Plan your budget for the next month</p>
    <a href="/balance/<%=user.id%>"><button class="btn-form">Add new month</button></a> 
    </div>
    <%- include('./partials/footer') %>
</body>
</html>