<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/nav') %>
  
       
        <h1>Change transaction</h1>

    <table>
        <tr>
            <td style = 'font-weight: 700;'>Category</td>
            <td><%=category.name%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Subcategory</td>
            <td><%=subcategory.name%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Transaction date</td>
            <td><%=transaction.date%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Amount</td>
            <td><%=transaction.amount%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Description</td>
            <td><%=transaction.description%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Card Name</td>
            <td><%=transaction.cardName%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Type of Spending</td>
            <td><%=transaction.type%></td>
        </tr>
    </table>
    <div class="div-transaction">

    <a href="" onclick="openForm('<%= userId %>', '<%= transactionId %>'); return false;"><button  class="btn-form">Edit</button></a>
    <a href="" onclick="deleteTransaction('<%= userId %>', '<%= transactionId %>'); return false;"><button  class="btn-form">Delete</button></a>

</div>
     <form class="form-edit" action="/transactions/<%= userId %>/create" method="POST" id="editForm" style="visibility: hidden;">
        <h2 style="color: #fac36a; margin:0">Add transaction:</h2>

        <select name="subCategory" class = "input-filed" required>
                <option value=<%= transaction.subCategoryId %> disabled><%=subcategory.name%></option> 
        </select>

        <input class = "input-filed" type="number" name="amount" value="<%=transaction.amount%>" required>
        <input class = "input-filed" type="date" name="date"  value="<%=transaction.date%>" required>

        <input class = "input-filed" type="text" name="description" value="<%=transaction.description%>">
        <input class = "input-filed" type="text" name="cardName" value="<%=transaction.cardName%>">
        <input class = "input-filed" type="text" name="type" value="<%=transaction.type%>">

        <a href="#" onclick="saveChanges('<%= userId %>', '<%= transactionId %>'); return false;"><button  class="btn-form">Save Changes</button></a>

    </form>

  
    <%- include ('./partials/footer') %>
    
        <script>

        function deleteTransaction(userId, transactionId) {
            fetch(`/transactions/${userId}?transaction=${transactionId}`, {
                method: 'DELETE',
            }).then(response => {
                if (response.ok) return response.json();
                throw new Error('Something went wrong');
            }).then(data => {
                console.log('Deleted:', data);

            }).catch(error => console.error('Error:', error));
        }


        function saveChanges(userId, transactionId) {

        const form = document.getElementById('editForm');
        const formData = new FormData(form);

      
        const data = new URLSearchParams();
        for (const pair of formData) {
        data.append(pair[0], pair[1]);
        }

            fetch(`/transactions/${userId}?transaction=${transactionId}`, {
                method: 'PATCH',
                body: data,
                headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        }
            }).then(response => {
                if (response.ok) return response.json();
                throw new Error('Something went wrong');
            }).then(data => {
                
            }).catch(error => console.error('Error:', error));
        }

        function openForm(){
            const form = document.getElementById('editForm');
            console.log(form);
             if (form.style.visibility === 'hidden') {
                 form.style.visibility = 'visible';
                } else {
        form.style.visibility = 'hidden';
                }
        }

        </script>
</body>
</html>