<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/nav') %>
    <div class="div-form">
       
        <form class="form" action="/transactions/<%= userId %>/create" method="POST">
            <h2 style="color: #fac36a; margin:0">Add transaction:</h2>

            <select name="subCategory" class = "input-filed" required>

                <% if (subcategoriesDate.length > 0) { %>
                    <% subcategoriesDate.forEach(e => { %>
                    <option value=<%= e.id %>><%= e.name %></option> 
                 <%})} %>

            </select>

            <input class = "input-filed" type="number" name="amount"  placeholder="Spending" required>
            <input class = "input-filed" type="date" name="date"  placeholder="Date" required>

            <input class = "input-filed" type="text" name="description" placeholder="Description">
            <input class = "input-filed" type="text" name="cardName" placeholder="Card name">
            <input class = "input-filed" type="text" name="type" placeholder="Type">
    
            <input type="submit" class = "btn-form" value="Create transaction">
  
        </form>
    </div>
    <%- include ('./partials/footer') %>
</body>
</html>