<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/nav') %>
  
       
        <h1>Change transaction</h1>

    <table>
        <tr>
            <td style = 'font-weight: 700;'>Category</td>
            <td><%=category.name%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Subcategory</td>
            <td><%=subcategory.name%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Transaction date</td>
            <td><%=transaction.date%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Amount</td>
            <td><%=transaction.amount%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Description</td>
            <td><%=transaction.description%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Card Name</td>
            <td><%=transaction.cardName%></td>
        </tr>
        <tr>
            <td style = 'font-weight: 700;'>Type of Spending</td>
            <td><%=transaction.type%></td>
        </tr>
    </table>
    <div class="div-transaction">

    <form action="/transactions/<%= userId %>?transaction=<%= transactionId %>" method="patch">
            <input type="submit" class = "btn-edit" value="Edit">
     </form> 
   
     <a href="#" onclick="deleteTransaction('<%= userId %>', '<%= transactionId %>'); return false;"><button  class="btn-form">Delete</button></a>

    </div>
    <%- include ('./partials/footer') %>
    
        <script>
        function deleteTransaction(userId, transactionId) {
            fetch(`/transactions/${userId}?transaction=${transactionId}`, {
                method: 'DELETE',
            }).then(response => {
                if (response.ok) return response.json();
                throw new Error('Something went wrong');
            }).then(data => {
                console.log('Deleted:', data);

            }).catch(error => console.error('Error:', error));
        }
        </script>
</body>
</html>